<nav class="navbar navbar-expand-lg bg-body-light border bottom sticky-top">
    <!-- sticky-top ek bootstrap ki class hai jo scroll ke saath navbar ko hilne nhi deti nav bar waho stick rehta hai jb hm scroll krte hai to -->
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add New Listing</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>
<!-- for icon insted in nav name go to font awesome >icons>searh navigetion> cpy link paste it in navbar brand at name palet
 go to fontawesome cdn link o  cdnjs then cpy paste it in boilerplate head tag-->

 <!-- ab hm thode customs addon krenge apni taraf se style.css mein -->