  
<% layout ("/layouts/boilerplate") %>
<body>
    <div class="filterss">
    <a href="/listings?category=Trending" class="filter-link">
       <div class="filter ms-4">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending </p>
       </div>
        </a>
    <a href="/listings?category=Rooms" class="filter-link">
       <div class="filter ms-4">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
       </div>
        </a>
    <a href="/listings?category=Amazing Views" class="filter-link">
       <div class="filter ms-4">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Amazing Views</p>
       </div>       
        </a>
    <a href="/listings?category=Iconic cities" class="filter-link">
       <div class="filter ms-4">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic cities</p>
       </div>
        </a>
    <a href="/listings?category=Surfing" class="filter-link">
       <div class="filter ms-4">
        <div><i class="fa-solid fa-football"></i></div>
        <p>Surfing</p>
       </div>
        </a>
    <a href="/listings?category=Amazing Pools" class="filter-link">
       <div class="filter ms-4">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
       </div> 
             </a>
    <a href="/listings?category=Beach" class="filter-link">
       <div class="filter ms-4">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p>
       </div>
        </a>
    <a href="/listings?category=Cabins" class="filter-link">
       <div class="filter ms-4">
        <div><i class="fa-solid fa-chalkboard"></i></div>
        <p>Cabins</p>
       </div>
        </a>
    <a href="/listings?category=Lake front" class="filter-link">
       <div class="filter ms-4">
        <div><i class="fa-solid fa-water"></i></div>
        <p>Lake front</p>
       </div>   
        </a>

    <a href="/listings?category=Pool" class="filter-link">
       <div class="filter ms-4">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Pool</p>
       </div> </a>
        
          <div class="tax-switch ms-auto">
        <div class="form-check-reverse form-switch">
              <input class="form-check-input mt-2" type="checkbox" role="switch" id="switchCheckDefault">
               <label class="form-check-label" for="switchCheckDefault"><b>See Offers</b></label>
             </div>
      </div>     
   </div>
     <div class="tax-bar">
           
       </div>   

    <div class="row  row-cols-lg-3 mt-3 row-cols-md- row-cols-sm-1">
     <% for (let listingg of alllisting) { %>
        <a href="/listings/<%=listingg._id%>" class="listing-link">
 
            <div class="card listing-card" >
  <img src="<%=listingg.image.url%>" class="card-img-top" alt="listing_cardimage"  style="height:20rem;">   
   <div class="card-image-overlay">    </div>
  <div class="card-body">
    <h5 class="card-title"><b><%=listingg.title%></b></h5>
    <p>&#8377;<%= typeof listingg.price === "number" ? listingg.price.toLocaleString("en-IN") : listingg.price %>/Night 
        <% if(listingg.price>5000){ %><b> <i class="tax-info">&nbsp; &nbsp; +50% Off</i></b>
         <% }else if(listingg.price>1000 && listingg.price<4999){ %><b> <i class="tax-info">&nbsp; &nbsp; +18% Off</i></b><% } %></p>     
  
</div> 
</div>   
</a>         
      <% } %> </div>          
   
<script>
    let taxbutton=document.getElementById("switchCheckDefault");
    taxbutton.addEventListener("click",()=>{
       let taxinfo=document.getElementsByClassName("tax-info");
       console.log(taxinfo);
       //so on click pr dene ke liye hm loop lagayenge 
       for(info of taxinfo){
        if(info.style.display !="inline"){
            info.style.display="inline";
        }else{
         info.style.display="none";
    
        }
       }
    })
</script>
</body>
