body{
    background-color: rgb(246, 218, 223);
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

 .navbar{
    height: 5rem;
    backdrop-filter: blur(8px); /* adds blur effect */
 }
 .fa-compass{
    color:#fe424d;
    font-size: 2rem; 
 }
.navbar-nav{
    color: #222222 !important;
     backdrop-filter: blur(8px);
} 

.f-info-social{
    font-size: 2rem;
    margin-right: 1.2rem;
}
.f-info-social i{
    font-size: 2rem;
    margin-right: 1rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
    /* jo hmne extra a likhaclass mein wo .class mein anchor tag hai */
}
.f-info-links a:hover{
     text-decoration: underline;
     color: rgb(0, 0, 244);
    /* jo hmne extra a likhaclass mein wo .class mein anchor tag hai */
}

.f-info {
     text-align: center;
    height: 8rem;
    background-color: grey;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    /* padding-bottom: 100px; */
  
}
.f-info-links ,.f-info-social ,.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cards ke liye styling krenge */
.listing-card{
     border: none !important;
     margin-bottom: 2rem !important;
    
}

.card-body{
 padding: 0 !important;
}

.card-title{
    font-weight: 400;
}

.card-img-top{
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
}

.listing-link{
    text-decoration: none;
}

/* card effects  */
/* card image overlay bootstrap ke andar ek property hoti hai jo image ke upar kuch text show krati hai  */
.card-image-overlay{
   opacity: 0;
}
.card-image-overlay:hover{
    opacity: 0.2;
   background-color: rgb(248, 236, 236);
}

.main-content{
    padding-bottom: 100px;
}
.container{
    flex: 1;
  
}
.add-btn{
    background-color: #fe424d!important;  
    /* isse jo pehle black color tha btn ka bootstrap mein wo important likhne se override hogya */
    border-color: white;
}
.btn-edit{
      background-color: #fe424d!important;
        
}

.show-img{
    height: 45vh;
    /* weidth ko adjust krne  ke liye hm show.ejs mein iski class mein row and column set krenge to center content in page : col-8 offset-2 */
}
.btns{
    display: flex;
    flex-wrap: wrap;
    
}
.showcard{
    padding-left: 0;
    padding-right: 0;
}
#map {
        height: 330px;
        width: 100vh;
        border-radius: 30px;
}




.filterss{
 display: flex;
flex: wrap;
 margin: right;

     }
.filter , .tax-switch{
  text-align: center;
 margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
        }
.filter:hover{
 cursor: pointer;
 opacity: 1;
        }
.filter p{
 font-size: 0.8rem;
   }
    
.tax-switch{
 border-color:1px solid black;
 border-radius: 1rem ;
 font-size: 22px;
 align-items: center;
        }
.tax-info{       
  display: none;
        }
.filter-link {
 text-decoration: none;
color: inherit; 
 }
.form-check-label{
    border: 3px;
    font-size: 1rem;
    }
/* .tax-switch{
    border: 2px solid red;
    box-shadow: 4px #fe424d;
    display: flex;
    text-align: start;
} */